/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  border-top: 1px solid darkslategray;
  margin: 0px 15px;
}

/*_____________________________________________*/
/* DO NOT EDIT ABOVE ^THIS LINE!! CSS RESET!!! */

body {
  font-family: font75156, Arial, sans-serif;
  border: 0 !important;
}

.container {
  min-width: 100%;
}

.form-control {
  min-width: 220px !important;
  border: 1px solid darkslategray;
}

#quantity.form-control {
  border: 1px solid darkslategray;
  min-width: 50px !important;
  width: 50px;
  height: 40px;
}

.italic {
  font-style: italic;
}

.no-margin {
  margin: 0 !important;
}

/*~~~~~~~~~NAVBAR~~~~~~~~~~~*/
h4 {
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
  margin: 0;
}

.black-bar {
  background-color: black;
  border: none;
  color: white;
  height: 25px;
  padding: 7px 5px;
}

.navbar-right {
  position: relative;
  right: 3px;
}

.navbar-header {
  float: none !important;
}

@media(min-width: 768px) {
  .navbar-header {
    margin-bottom: -20px;
  }
}

.navbar {
  background-color: white;
  border: none;
  margin-bottom: 0;
}

@media(min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 18px;
  }
}

#search-collapse>.btn {
  padding-left: 0
}

#search {
  margin-top: 0;
}

#search-collapse {
  margin-top: -15px;
}

.navbar-login {
  font-size: 1em;
}

.navbar .navbar-brand {
  color: black;
  font-family: "animalApparelFont";
  font-size: 1.5em;
  font-weight: 100;
  padding: 15px, 50px !important;
  margin-bottom: 25px;
}

#cart-dropdown-collapse, #cart-dropdown {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 0;
}

#cart-dropdown-collapse>.caret, #cart-dropdown>.caret {
  margin-bottom: 3px;
}

.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
  border: none;
  padding-left: 0;
}

/*search bar text*/
.navbar .navbar-text {
  color: black;
}

/*Account Dropdown*/

#login-dropdown-collapse {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>.open>a {
  background: none;
  margin: 0px 15px 0px 15px;
  padding: 0px 15px 0px 15px;
}

.navbar-nav .open .dropdown-menu {
  border: solid 0.5px;
  font-size: 12px;
  margin-bottom: 10px;
  width: 50px;
  margin-left: 15px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: none;
}

.navbar-default .navbar-categories>li>a {
  font-size: 2em;
}

.desktop.dropdown:hover .dropdown-menu {
  display: block;
}

sup {
  font-size: 10px;
  vertical-align: top;
  top: -7px;
  margin: 2px;
}

.logo {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-left: 3px;
  font-family: font75156;
  letter-spacing: -0.5px;
  font-weight: 900;
}

.breadcrumb>li {
  font-family: font75156, Arial, sans-serif !important;
}

.breadcrumb>li+li:before {
  padding: 0;
  color: black;
  content: "/\00a0";
  font-weight: 100;
  font-family: Helvetica;
  margin-right: -3px;
  margin-left: 2px;
  letter-spacing: -2px;
}

.breadcrumb {
  background: none !important;
  letter-spacing: -2px;
  overflow: visible;
  margin-bottom: 0 !important;
}

.breadcrumb-nav {
  position: absolute;
  right: 0px;
}

.breadcrumb-mobile {
  margin: 0px 5px;
  font-size: 1.25em;
  padding-right: 0;
  max-width: 300px;
}

.navbar-collapse {
  border-color: black;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background: black;
  color: white !important;
  text-decoration: none;
}

.btn-default, .btn-default:hover, .btn-default:focus {
  border: solid 1px black;
  background: none;
  color: black;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  padding-top: 9px;
  border-radius: 0;
  margin: 0px 2.5px 2.5px 0px;
}

.btn-default:hover, .btn-default:focus {
  background: #ccc;
}

#lower-nav-collapse {
  margin-top: -25px;
  margin-bottom: -25px;
}

.lower-nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

#lower-nav {
  right: 70px;
}

.navbar-form {
  padding: 8px;
}

.input-group .form-control:last-child {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.input-group {
  display: block;
}

.basic-nav-dropdown .dropdown-toggle {
  margin: 15px;
  padding: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: black;
  overflow: visible;
  width: 220px;
  margin: 10px;
  padding-top: 8px;
}

.container>.navbar-collapse {
  margin: 0;
}

.navbar-default .navbar-toggle {
  border: none !important;
  color: black;
  margin-top: 30px;
  padding-right: 0;
  margin-right: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

a {
  color: black !important;
  text-decoration: none !important;
}

/*~~~~~~~~~HOMEPAGE~~~~~~~~~~~*/

h1 {
  margin-top: 15px;
  padding: 10px;
  font-size: 2em;
}

h1#promo {
  padding: 0;
  margin: 0;
  display: inline-block;
}

@media(max-width: 768px) {
  h1#promo {
    max-width: 280px;
  }
}

h1.page-title {
  margin-top: 0 !important;
  padding: 15px 0px;
}

.home-pic  {
  color: white !important;
  height: 300px;
}

.promo {
  color: white;
  background: url("/img/promo-background.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 20px;
}

#promo {
  text-align: left;
  font-size: 2em;
  margin: 15px;
  width: inherit;
}

#promoCode {
  text-align: right;
  font-size: 1.5em;
  padding: 0;
}

#bottomRow{
  position: absolute;
  bottom: 0;
}

#peopleSale {
  text-align: left;
  float: left;
  font-size: 1em;
  color: white;
  padding: 0px;
}

#petSale {
  text-align: right;
  float: right;
  font-size: 1em;
  color: white;
  padding: 0px;
}

#women-xs-sm {
  padding-left: 15px !important;
}

#women {
  padding-right: 7.5px !important;
}

.women:hover {
  background: url("/img/women-background-overlay.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 7.5px;
  transition: background 1s;
}

.women{
  color: white !important;
  background: url("/img/women-background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 7.5px;
}

#men-xs-sm {
  padding-left: 15px !important;
}

.men:hover {
  background: url("/img/men-background-overlay.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 1s;
}

.men{
  color: white !important;
  background: url("/img/men-background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dogs:hover {
  background: url("/img/dog-background-overlay.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 1s;
}

.dogs{
  color: white !important;
  background: url("/img/dog-background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.kids:hover{
  color: white !important;
  background: url("/img/kid-background-overlay.png") center center;
  transition: background 1s;
}

.kids {
  color: white !important;
  background: url("/img/kid-background.jpg") center center;
  margin-bottom: 15px;
}

/*~~~~~~~~~PRODUCTS/SALE~~~~~~~~~~~*/

.page-title {
  text-transform: capitalize;
  margin-top: 0 !important;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.btn-primary {
  color: white;
  background: black;
  border-radius: 0;
}

.product-detail {
  margin: 15px;
}

p {
  font-family: Helvetica;
  font-weight: 200 !important;
  line-height: 1.25em;
}

.price {
  font-size: 12px;
}

.thumbnail {
  border: 0px !important;
  border-radius: 0px !important;
  padding: 0;
}

.related-product {
  width: 25vw;
  padding: 0 !important;
  margin-right: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
  .related-product {
    width: 30vw;
  }

  .caption>h5 {
    text-align: left;
    float: none;
  }

  .caption {
    padding: 9px 0px !important;
  }
}

h3{
  padding-bottom: 10px;
  font-size: 14px;
}

/*~~~~~~~~~~~~~~~~REVIEWS~~~~~~~~~~~~~~~~~~*/

.form-title {
  padding-bottom: 12px;
}

label {
  font-family: Helvetica;
  font-weight: 200 !important;
}

label.detail {
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  padding-bottom: 10px;
}

input {
  padding: 6px;
  border: darkslategray solid 1px;
  margin: 5px 0px 10px 0px;
}

textarea {
  padding: 6px;
  border: darkslategray solid 1px;
  margin: 5px 0px 10px 0px;
  height: 150px;
  width: 100%;
  line-height: 1.5em;
}

.review {
  margin-bottom: 15px;
}

.reviewHeading {
  margin-bottom: 5px;
}

/*~~~~~~~~~~~~~~~~CHECKOUT~~~~~~~~~~~~~~~~~~*/

.checkoutFormDiv {
  display: block;
}

.checkoutFormField{
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: initial;
  justify-content: center;
}

.checkoutFormField > label {
  font-weight: 700;
  margin-right: 10px;
  min-width: 150px;
  text-align: right;
  padding: 6px 9px;
}
.checkoutFormField > div {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  max-width: 350px;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial;
  position: relative;
}

.checkoutFormField > p {
  flex-grow: 1;
  max-width: 350px;
  display:block;
}

.checkoutFormField > h3 {
  font-size: 30px;
  min-width: 500px;
  text-align: center;
  padding: 6px 9px;
}

.checkoutFormField button {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 12px;
  color: #fff;
  background-image: linear-gradient(#fff,#d5d5d5);
  border: 1px solid #d5d5d5;
  color: #000;
  margin: 10px;
}

/*~~~~~~~~~~~~~~~~CART~~~~~~~~~~~~~~~~~~*/

h5 {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  float: right;
}

.img-responsive{
  width: 60px;
}

.cart {
  display: flex;
}

@media (min-width: 960px) {
  .cart {
    margin: 0 100px;
  }
}

.cart-items {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cart-total {
  text-align: center;
  margin: 15px 25px 15px 25px;
}

.cart-checkout {
  text-align: center;
  margin: 15px 25px 45px 25px;
}

td {
  text-align: center;
  padding: 8px 0 !important;
  margin: 5px;
}

.img-responsive {
  display: inline;
  max-width: 80px;
}

table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  border-bottom: none;
  max-width: 50%;
}

h1.page-title.center {
  text-align: center !important;
}

@media(max-width: 374px) {
  td {
    font-size: 70%;
    /* ^sneaky resize of table!! */
  }
}

#cart-item-quantity.form-control {
  display: inline;
  min-width: 60px !important;
  width: 60px !important;
}

.glyphicon-trash {
  cursor: pointer !important;
}

/*~~~~~~~~~~~~~~~~LOGIN/SIGNUP~~~~~~~~~~~~~~~~~~*/

@media (min-width: 768px) {
  .login-signup-button {
    position: relative;
  }

  .login {
    top: 145px;
  }

  .signup {
    top: 5px;
  }

  .login-signup-box {
    padding: 15px;
    border: 1px solid darkslategray;
    height: 404.5px;
  }
}

@media (max-width: 767px) {
  #login, #signup {
    margin-bottom: 30px;
  }

  .account, .accountHeader {
    text-align: center;
  }

  .login-signup-box {
    border-top: 1px solid darkslategray;
  }

  .login-signup-button .btn-primary {
    width: 100%;
  }
}

.account {
  margin: 15px 0;
}

.accountHeader {
  margin: 15px;
  padding: 0;
}
