
``/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DO NOT EDIT ABOVE THIS LINE!! CSS RESET!!! */

@font-face {
  font-family: "animalApparelFont";
    src: url("//db.onlinewebfonts.com/t/03def1e825bb29de3582eb1de0bd5b71.eot");
    src: url("//db.onlinewebfonts.com/t/03def1e825bb29de3582eb1de0bd5b71.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/03def1e825bb29de3582eb1de0bd5b71.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/03def1e825bb29de3582eb1de0bd5b71.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/03def1e825bb29de3582eb1de0bd5b71.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/03def1e825bb29de3582eb1de0bd5b71.svg#Helvetica Neue") format("svg");
}

body {
  font-family: "animalApparelFont";
  border: 0 !important;
}
/*~~~~~~~~~HOMEPAGE~~~~~~~~~~~*/
.home-pic {
  color: white;
  height: 300px;
  margin: -5px;
}

.promo{
  background: url("/img/promo-background.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;


}

.promo #promo {
  text-align: left;
  float: left;
  font-size: 4em;
}

.promo #promoCode {
  text-align: right;
  float: right;
  font-size: 2em;
}

.promo #bottomRow{
  position: absolute;
  bottom: 0;
}

.promo #peopleSale {
  text-align: left;
  float: left;
  font-size: 1.5em;

}



.promo #dogSale {
  text-align: right;
  float: right;
  font-size: 1.5em;
}

.women{
  background: url("/img/women-background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.men{
  background: url("/img/men-background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.dogs{
  background: url("/img/dog-background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.kids{
  background-image: url("/img/kid-background.jpg");
}
/*~~~~~~~~~NAVBAR~~~~~~~~~~~*/
.navbar {
  background-color: white;
  border: none;
  margin-bottom: 5px;
}

.black-bar {
  background-color: black;
  border: none;
  color: white;
  height: 20px;
}

.navbar .container {
  height: 8vh;
  width: 100%;
}

.navbar .navbar-collapse {
  display: table-cell;
}

a .navbar .dropdown {
  background-color: pink;
  vertical-align: middle;
}

/*Grabbing Logo*/
.navbar .navbar-brand {
  color: black;
  font-family: "animalApparelFont";
  font-size: 2.6em;
  font-stretch: ultra-condensed;
  font-weight: 600;
  text-align: left;
}

/*Grabbing search bar text*/
.navbar .navbar-text {
  color: black;
}

/*Removing the hover color*/
.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-categories>li>a {
  font-size: 2em;
}

/*This craziness is grabbing the product categories in the main navbar*/
#main > div > div > div > nav:nth-child(3) > div > div.navbar-collapse.collapse > ul{
  font-size: 2em;
}

#basic-nav-dropdown {
  padding: 0;
}

sup {
  font-size: 14px;
  vertical-align: top;
  top: 0em;
}

/*~~~~~~~~~Products~~~~~~~~~~~*/
.thumbnail {
  border: 0px !important;
  border-radius: 0px !important;
}
