
h2 {
  font-size: 2em;
  margin-top: 0;
}

.btn-primary {
  color: white;
  background: black;
  border-radius: 0;
}

.product-detail {
  margin: 15px;
}

#quantity {
  width: 20px;
}

.product {

}

p {
  font-family: Helvetica;
  font-weight: 200 !important;
  line-height: 1.25em;
}

.thumbnail {
  border: 0px !important;
  border-radius: 0px !important;
}

h3{
  font-size: 14px;
}

/*~~~~~~~~~~~~~~~~Checkout~~~~~~~~~~~~~~~~~~*/

.checkoutFormDiv {
  display: block;
}

.checkoutFormField{
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: initial;
  justify-content: center;
}

.checkoutFormField > label {
  font-weight: 700;
  margin-right: 10px;
  min-width: 150px;
  text-align: right;
  padding: 6px 9px;
}
.checkoutFormField > div {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  max-width: 350px;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-wrap: initial;
  position: relative;
}

.checkoutFormField > p {
  flex-grow: 1;
  max-width: 350px;
  display:block;
}

.checkoutFormField > h3 {
  font-size: 30px;
  min-width: 500px;
  text-align: center;
  padding: 6px 9px;
}

.checkoutFormField button {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 12px;
  color: #fff;
  background-image: linear-gradient(#fff,#d5d5d5);
  border: 1px solid #d5d5d5;
  color: #000;
  margin: 10px;
}

/*~~~~~~~~~~~~~~~~REVIEWS~~~~~~~~~~~~~~~~~~*/
.review {
  padding: 10px 0px;
}

.form-title {
  margin-bottom: 20px;
}

input {
  padding: 6px;
  border: darkslategray solid 1px;
  margin: 5px 0px 10px 0px;
}

textarea {
  padding: 6px;
  border: darkslategray solid 1px;
  margin: 5px 0px 10px 0px;
  height: 150px;
  width: 100%;
  line-height: 1.5em;
}

/*~~~~~~~~~~~~~~~~CART~~~~~~~~~~~~~~~~~~*/

h5 {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  float: right;
}

.img-responsive{
  width: 80px;
}

.cart-item {
  text-align: center;
}

.cart-item-button {
  margin-top: 12px;
  /*float: left;*/
}

.cart-total {
  text-align: center;
  margin: 15px 25px 15px 25px;
}

.cart-checkout {
  text-align: center;
  margin: 15px 25px 45px 25px;
}

td {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.table-bordered>tbody>tr>td:first-child {
  width: 40px !important;
}

.table-bordered>tbody>tr>td:nth-child(2) {
  max-width: 100px !important;
}

.img-responsive {
  display: inline;
  max-width: 80px;
}

table {
  position: relative;
  max-width: 40% !important;
  left: 30vw;
}
